@import url("blocks/basket.css");
@import url("blocks/catalog.css");
@import url("blocks/header.css");
@import url("blocks/logo.css");
@import url("blocks/navigation.css");
@import url("blocks/wrapper.css");
@import url("blocks/user-info.css");
* {
  font-family: 'PT Sans', sans-serif;
}

.main-header {
  text-align: center;
}

.main-notification {
  color: grey;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.product {
  width: 22%;
  min-width: 250px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product__img {
  width: 100%;
  border: 2px solid grey;
  min-height: 300px;
  background: center center/ 80% no-repeat;
}

.shopping__title {
  color: grey;
}

.close {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 4px;
  background: grey;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.shopping {
  text-align: center;
  border-collapse: collapse;
  margin: 10px;
  width: 100%;
}

.shoppping th {
  border-bottom-color: 2px solid #ddd5d5;
}

.shopping__coat__pic {
  background: url(/images/catalog/1.jpg) center center/contain no-repeat;
  min-width: 100px;
  height: 100px;
}

.shopping__boots__pic {
  background: url(/images/catalog/7.jpg) center center/contain no-repeat;
  min-width: 100px;
  height: 100px;
}

.shopping__jeans__pic {
  background: url(/images/catalog/12.jpg) center center/contain no-repeat;
  min-width: 100px;
  height: 100px;
}

.shopping tr {
  height: 150px;
}

.shopping tr:last-child,
.shopping tr:first-child {
  height: 70px;
}

.shopping th {
  color: grey;
  border-bottom: 1px solid #ddd5d5;
  padding: 12px 17px;
}

.shopping td {
  border-bottom: 1px solid #ddd5d5;
  padding: 7px 17px;
  width: 100px;
}

.shopping th:nth-child(2) {
  text-align: left;
}

.shopping td:nth-child(2) {
  width: 600px;
  text-align: left;
}

.shopping tr:last-child td {
  border-bottom: none;
}

.shopping td:last-child {
  border-right: none;
  position: relative;
}

.text-bold {
  font-weight: 900;
}

.art {
  color: grey;
}

.shopping__total {
  background: rgba(235, 229, 229, 0.712);
  margin: 20px 0;
}

.divide {
  width: 100%;
}

.divide__el {
  background: url(/images/icons/zigzag.png) center center/contain no-repeat;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  padding: 100px 0;
}

.main-title {
  text-align: center;
  margin-top: 70px;
}

form p {
  color: grey;
  margin-bottom: 3px;
}

.delivery,
.payment {
  border: 2px solid #ddd5d5;
}

form,
.payment__box {
  margin: 50px 200px 200px 200px;
}

[type="text"],
[type="email"],
[type="phone"],
textarea {
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #ddd5d5;
  padding: 7px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left-side,
.right-side {
  width: 48%;
}

.payment__box {
  text-align: center;
  margin: 50px 0;
  color: grey;
}

[type="submit"] {
  background-color: #ff7300;
  padding: 10px 130px;
  color: white;
  border: 0;
  margin: 20px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 30px;
}

.footer div {
  width: 33.33%;
}

.social {
  margin-left: auto;
}

.social__item_twit {
  background: url(/images/icons/twitter.png) center center/contain no-repeat;
  padding: 30px;
  margin: 5px 10px;
}

.social__item_fb {
  background: url(/images/icons/facebook.png) center center/contain no-repeat;
  padding: 30px;
  margin: 10px 10px;
}

.social__item_inst {
  background: url(/images/icons/instagram.png) center center/contain no-repeat;
  padding: 30px;
  margin: 5px 10px;
}

.social__item {
  color: grey;
  margin: 5px 0;
}

.social__item:nth-child(3) {
  margin: 5px 0 30px 0;
}

.text-bold {
  font-weight: 900;
}

.collection {
  position: relative;
}

.about {
  position: relative;
}

.collection:after {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #ddd5d5;
  content: "";
  top: 0;
  left: 80%;
}

.about:after {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #ddd5d5;
  content: "";
  top: 0;
  right: 20%;
}

.collection__item {
  text-decoration: none;
  color: grey;
}

.about__item {
  text-decoration: none;
  color: grey;
}

.change__item:nth-child(1) {
  background: url(/images/icons/plus.png) center center/contain no-repeat;
  padding: 15px;
  margin: 2px;
  width: 100%;
}

.change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change__item:nth-child(2) {
  background: url(/images/icons/minus.png) center center/contain no-repeat;
  padding: 15px;
  width: 100%;
}

.change__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=basket.css.map */