* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Ubuntu', sans-serif;

}
@import url('blocks/wrapper.css'); 
@import url('blocks/catalog/product.css'); 
@import url('blocks/catalog/catalog.css'); 
@import url('blocks/catalog/breadcrumbs.css'); 
@import url('blocks/catalog/main-header.css'); 
@import url('blocks/catalog/multifilter.css'); 
@import url('blocks/catalog/page.css'); 
@import url('blocks/header/basket.css');   
@import url('blocks/header/header.css'); 
@import url('blocks/header/logo.css'); 
@import url('blocks/header/navigation.css'); 
@import url('blocks/header/user-info.css'); 
@import url('blocks/footer/footer.css'); 
@import url('blocks/footer/stripe.css'); 
@import url('blocks/footer/collection.css'); 
@import url('blocks/footer/shops.css'); 
@import url('blocks/footer/social.css'); 
@import url('blocks/main/desk.css'); 
@import url('blocks/main/title.css'); 
@import url('blocks/main/info-menu.css');
@import url('blocks/main/form.css'); 
@import url('blocks/main/error.css'); 




