<<<<<<< HEAD
@import url('blocks/basket.css');
@import url('blocks/catalog.css');
@import url('blocks/header.css');
@import url('blocks/logo.css');
@import url('blocks/navigation.css');
@import url('blocks/user-info.css');
@import url('blocks/wrapper.css');
=======
* {
    margin: 0;
    padding: 0;
    border: 0;
}

@import url('blocks/basket.css');   
@import url('blocks/catalog.css'); 
@import url('blocks/header.css'); 
@import url('blocks/logo.css'); 
@import url('blocks/navigation.css'); 
@import url('blocks/user-info.css'); 
@import url('blocks/wrapper.css'); 
@import url('blocks/footer/collection.css');
@import url('blocks/footer/footer.css');
@import url('blocks/footer/shop.css');
@import url('blocks/footer/social.css');
>>>>>>> origin/sklyarova

.main-header{
    text-align: center;
    margin: 3vh 0;
}
<<<<<<< HEAD
.product{
    width: 22%;
    min-width: 250px;
}
.catalog{
=======

.main_about {
    text-align: center;
    color: #777777;
    font-style: italic;
    font-size: 25px;
}
.catalog {
>>>>>>> origin/sklyarova
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
<<<<<<< HEAD
.product{
    display: flex;
    
=======

a {
    text-decoration: none;
}

.product {
>>>>>>> origin/sklyarova
    width: 22%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
}
<<<<<<< HEAD
.product__img{
=======

.product__img {
    margin-top: 100px;
>>>>>>> origin/sklyarova
    width: 100%;
    min-height: 300px;
    background: center center / 80% no-repeat;
<<<<<<< HEAD
    

=======
}

.product__name {
    color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

.product__price {
    color: black;
    text-align: center;
    font-size: 20px;
}

.pagination {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.pagination-item {
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: black;
    text-align: center;
    line-height: 40px;
    margin: 5px;
    border: 1px solid black;    
}

.active {
    background: white;
    color: black;
>>>>>>> origin/sklyarova
}