.desk{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}
.desk__table{
    display: block;
    width: 25%;

}
.desk__table-item{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.roman{
    font-family: 'Times New Roman', Times, serif ;
    font-style: italic;
}
.attention{
    align-items: center;
    display: flex;
}
.stik{
    background: #ffffff;
    width: 30px;
    height: 2px;
}
.attention-pic{
    background: url(/images/icon/attention-sign-outline.png) center center / contain no-repeat;
    width: 40px;
    height: 40px;
    padding: 0 7px;
}
.desk__table-item-info{
    font-size: 18px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 40px;
}
.arrow{
    background: url(/images/icon/left-arrow.png) center center / contain no-repeat;
    width: 40px;
    height: 40px;
}
.long{
    min-height: 600px;
}

.frame_1{
    background: url(/images/1.jpg);
    background-position-x: 66%;
    background-size: cover;
}
.frame_2{
    background: rgb(177, 177, 177);
}
.frame_3{
    background: url(/images/3.jpg);
    background-position-x: 66%;
    background-size: cover;
    background-position-y: 88%;

}
.frame_4{
    background: rgb(70, 70, 70);
}
.frame_5{
    background: url(/images/2.jpg);
}
.frame_6{
    background: rgb(177, 177, 177);
}
.frame_7{
    background: url(/images/4.jpg);   
    background-position-x: 30%;
    background-size: cover;
}
.frame_8{
    background: url(/images/5.jpg);
    background-position-x: 66%;
    background-size: cover;
    background-position-y: 88%;
}
.frame_9{
    background: rgb(70, 70, 70);
}
.frame_10{
    background: url(/images/6.jpg);
}
.opacity{
    position: relative;
}
.opacity::before{
    content: "";
    background: black;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.index{
    z-index: 4;
}