.title{
    text-align: center;
    padding: 70px 0;

}
.title h1{
    font-size: 60px;
    font-weight: 200;
    color: rgb(70, 70, 70);
}
.title h3{
    padding: 40px 0;
    font-weight: 200;
    color: rgb(70, 70, 70);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.title-button{
    border: rgb(70, 70, 70) 2px solid;
    height: 40px;
    width: 250px;
    line-height: 40px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s all;
}
.title-button:hover{
    background: rgb(177, 177, 177);
}
.title-button a{
    text-decoration: none;
    color: rgb(70, 70, 70);
}

