.cart{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.cart__button{
    padding: 20px;
    background-color: orange;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}