.sizes__header{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.sizes__size{
    display: flex;
    justify-content: center;
}

.size{
    height: 35px;
    width: 35px;
    border: 1px solid gray;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sizes{
    margin-bottom: 50px;
}