.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-header{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-vertical-line{
    width: 1px;
    background-color: gray;
}