.basket{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.basket__pic{
    background: url(/images/icons/bascet.png) center center/ contain no-repeat;
    width: 30px;
    height: 30px;
}