nav.navigation{
    display: flex;
    margin: 0 20px;
    flex-grow:3;
}
.navigation__item{
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
    transition: 0.5s all;
}
.navigation__item:hover{
    color:orangered;
}