.user-info{
    display: flex;
    align-items: center;
    margin-left: auto;
}
  
.user-info__pic{
    background: url(/images/icons/account.png) center center/ contain no-repeat;
    width: 40px;
    height: 40px;

}
.text_active{
    color: orange;
}