.user-info{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: auto;
}
.user-info__pic{
    padding: 20px;
    background: url(/images/icons/account.png) center center/contain no-repeat;
}
.text_active{
    color:orangered;
}